/* ** CUSTOM PROPERTIES ** */
:root
{
  --text-color: #333;
  --title-color: #000000;
  --accent-color-green: #0A775F;
  --accent-color-green-80: rgb(10, 119, 95, 0.8);
  --accent-color-green-60: rgb(10, 119, 95, 0.6);
  --accent-color-light-brown: #C99B67;
  --accent-color-light-brown-80: rgb(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgb(201, 155, 103, 0.6);
  --outline-color: var(--accent-color-green);
  --dull-brown:  #F3D7B7;
  --ivory-color: #F8F8F2;
}
/* ** FONTS ** */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}

*:focus
{
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* * * BUTTON * * */
.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  padding: 16px 24px;
  border: 0;
  border-radius: 100px;
}
.button-green {
  background-color: var(--accent-color-green);
}
.button-green:hover
{
  background-color: rgb(10, 119, 95, 0.8);
}
.button-green:active
{
  background-color: rgb(10, 119, 95, 0.6);
}
.button-light-brown
{
  background-color: var(--accent-color-light-brown);
}
.button-light-brown:hover
{
  background-color: var(--accent-color-light-brown-80);
}
.button-light-brown:active
{
  background-color: var(--accent-color-light-brown-60);
}

/* ******************************* */
/* **         SITE HEADER       ** */
/* ******************************* */
.site-header-hero-wrapper {
  background-color: var(--dull-brown);
  background-image: url(../img/bg-img-light-brown.jpg);
}

/* ** SITE HEADER ** */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.site-header-logo-link {
  display: inline-block;
  text-decoration: none;
  flex-shrink: 0;
}
.site-header-logo-link:hover
{
  opacity: 0.8;
}
.site-header-logo-link:active
{
  opacity: 0.6;
}
.logo-link-img {
  width: 235px;
  height: 24px;
}
/* == SITENAV == */
.site-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav-list-link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: var(--text-color);
  white-space: nowrap;
}
.site-nav-list-link:hover
{
  color: var(--accent-color-green);
}
.site-nav-list-link:active
{
  opacity: 0.6;
}
.site-nav-medium-font .site-nav-list-link
{
  font-size: 16px;
  line-height: normal;
}
/* ***************** */
/* **     HERO    ** */
/* ***************** */
.hero-container {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}
.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 116px;
}
.hero-heading {
  width: 100%;
  max-width: 447px;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  color: #000000;
}
.hero-text {
  width: 100%;
  max-width: 464px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: #000000;
}
.hero-text-aboutus
{
  width: 100%;
  max-width: 372px;
  margin: 0;
  padding: 0;
}
.hero-text:not(:last-child)
{
  margin-bottom: 34px;
}
.hero-index-img {
  width: 710px;
  height: 696px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}
/* * * * INDEX COLLECTION * * * */
.index-collection
{
  margin-bottom: 20px;
}
.index-collection-inner {
  padding: 50px 143px;
  background-color: var(--ivory-color);
  background-image: url(../img/ivory-color-bg.jpg);
}
.index-collection-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  color: #000000;
}
.index-collection-list {
  padding: 0;
  margin: 0;
}
.index-collection-item {
  display: flex;
  align-items: center;
  list-style: none;
}
.index-collection-item:nth-child(even)
{
  flex-direction: row-reverse;
}
.index-collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}
.index-collection-info {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}
.index-collection-info-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}
.index-collection-info-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  padding: 0;
  margin: 0;
  color: #333;
}
.index-collection-info-text:not(:last-child)
{
  margin-bottom: 10px;
}
/* * * * INDEX FEATURES * * * */
.index-features-inner {
  padding: 50px 30px;
  background-image: url(../img/index-features-bg.jpg);
  background-size: 100% 700px;
  background-repeat: no-repeat;
}
.index-features-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}
.index-features-text {
  width: 100%;
  max-width: 581px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.index-features-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
}
.index-features-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
}
.index-features-item-img {
  width: 433px;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 28px;
}
.index-features-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
  color: #333;
}
.index-features-item-text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #333;
}
/* - - - - - - - - - - - - - */
/* * * * HOW IT WORKS * * * */
/* - - - - - - - - - - - -  */
.how-it-works-inner {
  padding: 50px 30px;
  background-color: var(--accent-color-green);
  background-image: url(../img/green-background.jpg);
  text-align: center;
}
.how-it-works-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.how-it-works-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  margin-left: -20px;
  margin-bottom: 60px;
  counter-reset: how-it-works;
}
.how-it-works-list-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}
.how-it-works-list-item::before
{
  width: 60px;
  height: 60px;
  content: "";
  background-color: var(--ivory-color);
  border: 4px solid var(--accent-color-light-brown);
  margin-bottom: 20px;
}
.how-it-works-info {
  display: flex;
  flex-direction: column;
  background-color: var(--ivory-color);
  padding: 20px 20px 40px;
  flex-grow: 1;
}
.how-it-works-info::before
{
  align-self: flex-end;
  content: "0"counter(how-it-works);
  font-size: 64px;
  line-height: normal;
  margin-bottom: 45px;
}
.how-it-works-title {
  width: 100%;
  max-width: 255px;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}
.how-it-works-info-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #333;
}
.how-it-works-cta:focus
{
  outline-color: var(--accent-color-light-brown);
}

/* * * * * * * * * * * * * * * * * * * * * * */
/* * *            SITE FOOTER            * * */
/* * * * * * * * * * * * * * * * * * * * * * */
.site-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: var(--dull-brown);
  background-image: url(../img/bg-img-light-brown.jpg);
}
.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer-logo-link {
  display: inline-block;
  text-decoration: none;
  flex-shrink: 0;
}
.site-footer-logo-link:hover
{
  opacity: 0.8;
}
.site-footer-logo-link:active
{
  opacity: 0.6;
}
/* ** SOCIALS ** */
.socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.socials-item:not(:last-child) {
  margin-right: 30px;
}
.social-list-link {
  display: flex;
  color: #333;
}
.social-list-link:hover
{
  color: var(--accent-color-green);
}
.social-list-link:active
{
  opacity: 0.6;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * *          ABOUT US PAGE              * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* ============================= */
/* ==      OUR COMMITMENT     == */
/* ============================= */
.hero-common-img
{
  width: 710px;
  height: 596px;
}
.our-commitment {
  margin-bottom: 80px;
}
.our-commitment-inner {
  padding: 160px 64px 200px 164px;
}
.our-commitment-info-wrapper {
  display: flex;
  align-items: center;
}
.our-commitment-cup-img {
  display: flex;
  width: 360px;
  height: 364px;
  flex-shrink: 0;
  margin-right: 185px;
  object-fit: cover;
}
.our-commitment-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  text-transform: uppercase;
}
.our-commitment-text {
  margin: 0;
  max-width: 626px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #333;
}
/* ================================ */
/* ==== UNCOMPROMISING QUALITY ==== */
/* ================================ */
.uncompromising-quality-inner {
  display: flex;
  padding: 0 30px 90px;
  background-image: url(../img/index-features-bg.jpg);
  background-size: 100% 510px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 20px;
}
.uncompromising-quality-info {
  padding-top: 180px;
  padding-left: 113px;
  margin-right: 38px;
}
.uncom-quality-info-heading {
  width: 397px;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-bottom: 24px;
}
.uncom-quality-info-text {
  width: 639px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  opacity: 0.8;
  margin: 0;
}
.uncompromising-quality-img
{
  display: flex;
  width: 550px;
  height: 500px;
}

/* <!-- * * * * * * * * * * * * * * * --> */
/* <!-- * * * OUR HEADQUARTERS * * *  --> */
/* <!-- * * * * * * * * * * * * * * * --> */
.our-headquarters-inner {
  padding: 50px 30px 100px;
  background-color: var(--accent-color-green);
  background-image: url(../img/green-background.jpg);
}
.our-headquarters-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}
.our-headquarters-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  margin-left: -20px;
}
.our-headquarters-list-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}
.our-headquarters-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--ivory-color);
  padding: 45px 55px 40px 20px;
  flex-grow: 1;
}
.our-head-info-inner
{
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  justify-content: flex-end;
}
.country-map-img
{
  display: flex;
  width: 120px;
}
.country-map-img-uk
{
  height: 143px;
}
.country-map-img-canada
{
  height: 120px;
}
.country-map-img-australia
{
  height: 107px;
}
.our-headquarters-info-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}
.our-headquarters-info-text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #333;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * *        CREATE PLAN PAGE             * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.how-it-works-inner-create-plan-page {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 20px;
}
.how-it-works-list-create-plan-page {
  margin-bottom: 0;
}
.drink-your-coffee-inner {
  display: flex;
  background-image: url(../img/ivory-color-bg.jpg);
  padding: 50px 145px 50px 30px;
}
.about-product-list {
  margin: 0;
  margin-right: auto;
  list-style: none;
}
.about-product-list-item:not(:last-child) {
  margin-bottom: 30px;
}
.about-product-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #555555;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
}
.questionnaire {
  display: flex;
  flex-direction: column;
}
.questionnaire-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 100px;
}
.questionnaire-list-item {
  max-width: 660px;
  width: 100%;
}

.item-header {
  display: flex;
  align-items: center;
  max-width: 660px;
  width: 100%;
}
.item-header-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto;
  font-size: 33px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  color: var(--title-color);
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.item-header-title-icon {
  display: flex;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.item-header-title-icon-open
{
  transition: transform 0.4s ease;
  transform: rotate(-180deg);
}
.item-body {
  width: 660px;
  display: none;
  margin-top: 20px;
}
.item-body-open
{
  display: flex;
}
.input-radio-wrapper {
  display: flex;
  align-items: center;
}
.input-radio-wrapper:not(:last-child)
{
  margin-right: 18px;
}
.input-check-box {
  clip: rect(0,0,0,0);
  pointer-events: none;
  position: absolute;
}
.input-label {
  width: 208px;
  height: 220px;
  padding-top: 30px;
  padding-left: 16px;
  background-color: rgb(10, 119, 95, 0.2);
  cursor: pointer;
}
input[type=radio]:checked+.input-label {
  background-color:  #0A775F;
}
.input-check-box-content {
  width: 170px;
}
input[type=radio]:checked .input-check-box-content h3 {
  color: #fff;
}
.input-check-box-heading {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text-color);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
}
.input-check-box-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
input[type=radio]:checked + label h3 {
  color: #fff;
}
input[type=radio]:checked + label p {
  color: #fff;
}
.questionnaire-list-item:not(:last-child)
{
  margin-bottom: 60px;
}
.order-summary {
  width: 660px;
  padding: 40px 20px;
  background-color:  #C99B67;
  border: 0;
  margin-bottom: 20px;
}
.order-summary-title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 14px;
}
.order-summary-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  padding: 0;
  margin: 0;
  color: #fff;
}
.button-create-plan
{
  align-self: flex-end;
}
/* ** RETINA BACKGROUND ** */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-header-hero-wrapper {
    background-image: url(../img/bg-img-light-brown@2x.jpg);
  }
  .index-collection-inner {
    background-image: url(../img/ivory-color-bg@2x.jpg);
  }
  .index-features-inner {
    background-image: url(../img/index-features-bg@2x.jpg);
  }
  .how-it-works-inner {
    background-image: url(../img/green-background@2x.jpg);
  }
  .site-footer {
    background-image: url(../img/bg-img-light-brown@2x.jpg);
  }
}